<div class="jumbotron text-center">
    <h1>Welcome to the TechKids CMS system!</h1>
    <div ng-if="!main.loggedIn">
        <p>Login to see Manage your users and Connect jobs.</p>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>

    <div ng-if="main.loggedIn">
        <p>Manage your users.</p>
        <a href="/users" class="btn btn-primary">View Users</a>
    </div>
    <div ng-if="main.loggedIn">
        <p>Connect The Kids</p>
        <a href="/jobs" class="btn btn-primary">View Jobs</a>
    </div>
</div>
