<div class="page-header">
    <h1>jobs</h1>
    <a href="/jobs/create" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>New Job</a>

  <div ng-controller="shitController as shit">
    <!-- <p >{{shit.linhtinh}} </p> -->
  <!-- <p> {{shit.myString | limitTo:shit.numLimit}} </p> -->
  <!-- <button type='button' ng-click="shit.readMore()">read more</button></div> -->

</div>
<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="job.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading Jobs...</p>
</div>
<div class="jumbotron text-center">
    <h2>Summary</h2>

    <p>There are: {{job.company.length}} job in this list</p>
    <span class="glyphicon glyphicon-search"></span>
    <input type="search" ng-model="x" placeholder="filter jobs...">
</div>
<table class="table table-bordered table-striped" ng-show="job.company">
    <thead>
        <tr>
            <th>N.o</th>
            <th>job_title</th>
            <th>company_name</th>
            <th>job_description</th>
            <!-- <th>answer_choices</th>
            <th>right_answer</th> -->
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in job.company | filter:x as results">
            <td>{{$index + 1}}</td>
            <td>{{item.job_title}}</td>
            <td>{{item.company_name}}</td>
            <td>{{item.company_name | limitTo:job.numLimit}} <button type='button' ng-click="job.readMore()">read more</button></td>
            <td class="col-sm-2">
                <a ng-href="/jobs/{{item._id}}" class="btn btn-danger">Edit</a>
                <a href="#" ng-click="job.deleteJob(item._id)" class="btn btn-primary">Delete</a>

            </td>
        </tr>
    </tbody>
</table>


<div ng-controller="TodoController">
    <!-- <h1>Todos</h1> -->
    <!-- <h4>{{todos.length}} total</h4> -->
    <!-- <ul>
      <li ng-repeat="todo in filteredTodos">{{todo.text}}</li>
    </ul>
    <uib-pagination
      ng-model="currentPage"
      total-items="todos.length"
      max-size="maxSize"
      boundary-links="true">
    </uib-pagination> -->
  </div>

<uib-alert ng-repeat="alert in job.alerts" type="{{alert.type}}" close="job.closeAlert($index)">{{alert.msg}}</uib-alert>
<button type="button" class='btn btn-default' ng-click="job.addAlert()">Add Alert</button>
    <h4>Pager</h4>
    <pre>You are currently on page {{job.currentPage}} </pre>
    <uib-pager total-items="job.totalItems" ng-model="job.currentPage"></uib-pager>


<pagination
     max-size="5"
     items-per-page="7"
     total-items="job.company"
     ng-change="pageChanged()"></pagination>
